*.swp
*.pyc
*.egg-info
.coverage
.achievements
conceptnet5/import*/*.txt
*.wiktionary.org
evaluation/responses
evaluation/data
enwiktionary.xml
wikipedia.txt
secrets.py
gremlin_data
*.zip
cnet5_index_builder/cnet5-data/*/data/*
cnet5_index_builder/cnet5-data/*/raw_data/*
cnet5_index_builder/cnet5-solr/*
cnet5_index_builder/JAKE_LOG.txt
*.tar.bz2
cnet5_index_builder/cnet5_data/conceptnet4/db_config/
cnet5_index_builder/cnet5_data/conceptnet4_nadya/db_config/
env/
data/assoc
data/assertions
data/download
data/edges
data/raw
data/sandbox
data/solr
data/sw_map
