.ninja_deps
.ninja_log
build.ninja
__pycache__
*.swp
*.pyc
*.egg-info
.coverage
build/
conceptnet5/import*/*.txt
conceptnet5/wiktparse/*_parser.ebnf
evaluation/responses
evaluation/data
enwiktionary.xml
wikipedia.txt
secrets.py
*.tar.bz2
dist/
env/
data
conceptnet.s3.amazonaws.com/
attic/
static/img/build/
logs/*.log
*.zip
static/img/build/
lib/apsw-3.8.5-r1/
lib/apsw-3.8.6-r1/
.snakemake/
testdata/assertions
testdata/assoc
testdata/collated
testdata/db
testdata/edges
testdata/external
testdata/vectors
testdata/psql
testdata/stats

.DS_Store
*/.DS_Store
.DS_Store?
