*.swp
*.pyc
*.egg-info
.coverage
conceptnet5/import*/*.txt
*.wiktionary.org
evaluation/responses
evaluation/data
enwiktionary.xml
wikipedia.txt
secrets.py
*.zip
*.tar.bz2
dist/
env/
data/assoc
data/assertions
data/dist
data/download
data/edges
data/extracted
data/raw
data/sandbox
data/solr
data/sw_map
data/graph.dot
data/graph.png
dist/
stats/
attic/
static/img/build/
logs/*.log
static/img/build/
