/**
 * Author: Justin Venezuela (jven@mit.edu)
 * Stylesheet for ConceptNet5 web interface.
 */

@import url(http://fonts.googleapis.com/css?family=Fanwood+Text);

/* HTML Tags. */

html { height: 100%; }
body{
  background-image:url('../img/background.gif');
  font-family:'Fanwood Text', serif,
  height: 100%;
}

a { text-decoration: none; }

/* Classes. */

.column{
  margin:50px auto;
  width: 95%;
}
.content{
  background-color:white;
  border:5px solid black;
  padding-left:50px;
  padding-right:50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header{
  font-size:2em;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase
}
.sub_header{
  font-size:1.5em
}

.concept-box{
  margin: 5px;
  font-size: 16px;
  background-color: #f0f0f0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
  width: 210px;
  height: 70px;
  padding: 5px;
}

.concept-name{
  font-size: 180%;
  line-height: 1em;
}

#welcome{
	text-align: center;
}

#search-form{
	text-align: center;
}

#search-form #search-text{
	width: 15%;
}
