<!DOCTYPE HTML>
<html>
<head>
<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='css/conceptnet.css')}}" rel="stylesheet" type="text/css" />

{% block title %}
<title>ConceptNet 5</title>
{% endblock %}

</head>
<body>
<!-- top navigation bar -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand"><a href="/">ConceptNet <span class='five'>5</span></a></div>
        <ul class="nav">
          <li><a href="http://conceptnet5.media.mit.edu">About</a></li>
        </ul>
        <ul class="nav">
          <li><a href="http://github.com/commonsense/conceptnet5/wiki">Wiki</a></li>
        </ul>
        <ul class="nav">
          <li><a href="http://conceptnet5.media.mit.edu/downloads/current">Downloads</a></li>
        </ul>
<form id="search-form-home" class="navbar-form pull-right" method="POST" action="/web/search">
        <input id="search-text" type="text" class="search-query span2" name="keyword" title="Search for a concept..." placeholder="Search for a concept..." />
        <select id="language-select" name="language" title="Select a language">
          {% for langcode, langname in languages %}
            {% if langname == "English" %}
              <option selected="selected" value={{ langcode }}>{{ langname }}</option>
            {% else %}
              <option value={{ langcode }}>{{ langname }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <input id="search-submit" type="submit" value="Search" />
</form>

    </div>
  </div>
</div>

<div class="column">
<div class="content">
<div class="container">
{% block content %}
{% endblock %}
</div>
</div>
</div>

<div class="creative-commons" style="margin: 1em;">
<a href="https://github.com/commonsense/conceptnet5/wiki/Copying-and-sharing-ConceptNet">
<img src="/static/img/cc.primary.srr.gif" alt="Creative Commons - some rights reserved">
</a>
</div>

{% block scripts %}
{% endblock %}
</body>
</html>
