{% extends "_base.html" %}
{% block title %}
<title>ConceptNet 5: {{ node.name }}</title>
{% endblock %}
{% block content %}
<form id="search-form" method="POST" action="/search">
	<input id="search-text" type="search" name="keyword" title="Search for a concept..." placeholder="Search for a concept..." />
	<select id="language-select" name="language" title="Select a language">
          {% for langcode, langname in languages %}
            {% if langname == "English" %}
              <option selected="selected" value={{ langcode }}>{{ langname }}</option>
            {% else %}
              <option value={{ langcode }}>{{ langname }}</option>
            {% endif %}
          {% endfor %}
	</select>
	<input id="search-submit" type="submit" value="Search" />
</form>
<h1 id="concept-title" >{{ node.name }}</h1>
<div class="clear-fix" ></div>
<hr />
{% if normalized %}
<h2>Normalized form:
<span class="concept-normalized">
    <a href="{{ normalized['url'] }}">{{ normalized['name'] }}</a>
</span>
</h2>
{% endif %}

{% if senses %}
<h2>Word senses</h2>
<ul class="senses">
{% for sense in senses %}
<li>
<a href="{{ sense['url'] }}" title="{{ sense['uri'] }}">
    {{ sense['name'] }}
</a>
</li>
{% endfor %}
</ul>
{% endif %}

<h2>Assertions</h2>
<div class="container" id="assertionContainer">
    {% for assertion in assertions %}
    <div class="concept-box" data-relation="{{ assertion['relation'] }}"
        data-score="{{ assertion['score'] }}"
        data-name="{{ assertion['target_text'] }}">
        {% if assertion['position'] == 1 %}
            <div class="concept-relation1">
                <span class="self">...</span>
                <span class="relation">
                    <a href="{{ assertion['relation_url'] }}"
                       title="{{ assertion['relation_uri'] }}">
                        {{ assertion['relation'] }}
                    </a>
                </span>
            </div>
            <div class="concept-name">
                <a href="{{ assertion['target_url'] }}"
                   title="{{ assertion['target_uri'] }}">
                    {{ assertion['target_text'] }}
                </a>
            </div>
        {% elif assertion['position'] == 2 %}
            <div class="concept-name">
                <a href="{{ assertion['target_url'] }}"
                   title="{{ assertion['target_uri'] }}">
                    {{ assertion['target_text'] }}
                </a>
            </div>
            <div class="concept-relation2">
                <span class="relation">
                    <a href="{{ assertion['relation_url'] }}"
                       title="{{ assertion['relation_uri'] }}">
                        {{ assertion['relation'] }}
                    </a>
                </span>
                <span class="self">...</span>
            </div>
        {% else %}
            {# i'm the relation #}
            <div class="concept-name">
                <a href="{{ assertion['source_url'] }}"
                   title="{{ assertion['source_uri'] }}">
                    {{ assertion['source_text'] }}
                </a>
            </div>
            <div class="concept-relation2">
                <span class="relation">
                    <a href="{{ assertion['relation_url'] }}"
                       title="{{ assertion['relation_uri'] }}">
                        {{ assertion['relation'] }}
                    </a>
                </span>
                <span class="small-concept-name">
                    <a href="{{ assertion['target_url'] }}"
                       title="{{ assertion['target_uri'] }}">
                        {{ assertion['target_text'] }}
                    </a>
                </span>
            </div>
        {% endif %}
        <!-- TODO(jven): remove tables :/ -->
        <table>
        <tr>
        <td>
        <form action="{{ assertion.assertion_uri|e }}" method=POST>
        <input type="hidden" name="vote" value="agree" />
        <input type="submit" value="Agree" />
        </form>
        </td>
        <td>
        <form action="{{ assertion.assertion_uri|e }}" method=POST>
        <input type="hidden" name="vote" value="disagree" />
        <input type="submit" value="Disagree" />
        </form>
        </td>
        </tr>
        </table>
    </div>
    {% endfor %}
</div>

{% if frames %}
<h2>Sentence frames</h2>
<ul>
  {% for frame in frames %}
    <li>
      {{ frame|safe }}
    </li>
  {% endfor %}
</ul>
{% endif %}
<hr/>
<p>
<a href="/data{{ node.uri }}">JSON format</a> -
<a href="http://conceptnet5.media.mit.edu">About ConceptNet 5</a>
</p>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.6.2.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.isotope.min.js')}}"></script>
<script type="text/coffeescript">
$ ->
    $container = $('#assertionContainer')
    $container.find('.concept-box').each ->
        $this = $(this)
        textlength = $this.attr('data-name').length
        boxwidth = textlength * 18
        if boxwidth > 1000
            boxwidth = 1000
        if boxwidth < 150
            boxwidth = 150
        $this.width(boxwidth)


    $container.isotope({
        layoutMode: 'fitRows'
        masonry: {columnWidth: 120},
        getSortData: {
            score: ($elem) -> $elem.attr('data-score')
            relation: ($elem) -> $elem.attr('data-relation')
        }
    })
    window.container = $container

</script>
{% endblock %}
