{% extends "_base.html" %}
{% block content %}
<div class="row">
  <div class="span6"><h2>{{caption}}</h2></div>
  <div class="span6" style="text-align: right">
    <a href="/data/5.1{{uri}}" class="api-link">Get <b>{{uri}}</b> in JSON format</a>
  </div>
</div>
<div class="row">
  {% for edge in edges %}
  <div class="span6">
    <div class="assertion">
      <div class="assertion-edge">
        <span class="concept">
          <a href="{{root}}{{edge.start}}">{{edge.startName}}</a>
        </span>
        <span class="relation">
          <a href="{{root}}{{edge.rel}}">{{edge.relName}}</a>
        </span>
        <span class="concept">
          <a href="{{root}}{{edge.end}}">{{edge.endName}}</a>
        </span>
      </div>
      <div class="paraphrase">
        {{edge.linked|safe}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
