{% extends "_base.html" %}
{% block content %}
<h1>
<a href="{{ assertion['source_url'] }}"
    title="{{ assertion['source_uri'] }}">({{ assertion[
    'source_name'] }})</a>
<a href="{{ assertion['relation_url'] }}"
    title="{{ assertion['relation_uri'] }}">{{ assertion[
    'relation_name'] }}</a>
<a href="{{ assertion['target_url'] }}"
    title="{{ assertion['target_uri'] }}">({{ assertion[
    'target_name'] }})</a>
</h1>
<hr />
<form method=POST>
<input type="hidden" name="vote" value="agree" />
<input type="submit" value="Agree" />
</form>
<form method=POST>
<input type="hidden" name="vote" value="disagree" />
<input type="submit" value="Disagree" />
</form>
{% endblock %}
