{% extends "_base.html" %}
{% block content %}
<h1>ConceptNet Concept Browser</h1>
<div class="row"><div class="span12">
<form id="search-form-home" method="POST" action="/web/search">
	<input id="search-text" type="search" name="keyword" title="Search for a concept..." placeholder="Search for a concept..." />
	<select id="language-select" name="language" title="Select a language">
          {% for langcode, langname in languages %}
            {% if langname == "English" %}
              <option selected="selected" value={{ langcode }}>{{ langname }}</option>
            {% else %}
              <option value={{ langcode }}>{{ langname }}</option>
            {% endif %}
          {% endfor %}
	</select>
	<input id="search-submit" type="submit" value="Search" />
</form>
</div></div>
{% endblock %} 
{% block scripts %}
{% endblock %}
