nav {
    background-color: #000;
    color: #fff;
    padding: 0.2em 0.5em 0.2em 0.5em;
}
nav a {
    color: #aef;
    text-decoration: none;
}
.thispage {
    font-weight: bold;
}
article {
    padding-top: 1em;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 150%;
}
span.relation {
    padding-left: 1ex;
    padding-right: 1ex;
}
span.relation a {
    font-style: italic;
}
span.relation:before { 
    content: "\2014";
    color: #025;
}
span.relation:after { 
    content: "\2192";
    color: #025;
}
div.paraphrase {
    font-size: 90%;
    font-style: italic;
}
.assertion {
    padding: 0.5em;
    margin: 0.5em;
    background-color: #eee;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}
.assertion a {
    text-decoration: none;
}

/* bootstrap tweaks */
.brand a {
    color: #cde;
}

.brand a .five {
    color: #08c;
}

.navbar .nav > li > a {
    padding: 9px 10px 6px;
}

.navbar .brand {
    padding: 8px 20px 6px;
}

.navbar-inner {
    min-height: 34px;
}

.navbar-form input {
    font-size: 12px;
    line-height: 14px;
    height: 24px;
}
.navbar-form input[type="text"] {
    height: 14px;
}
.navbar-form select {
    font-size: 12px;
    line-height: 14px;
    height: 24px;
}
a.api-link {
    position: relative;
    top: 10px;
    padding-right: 10px;
}
p {
    font-size: 12pt;
}
li {
    margin-bottom: 0.5ex;
}
h2 {
    margin-top: 1em;
}
