html, body, #map {
    width: 100%;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
}
.leaflet-container {
    background: white;
}
.label {
    font-family: "Noto Sans", sans-serif;
    stroke: white;
    paint-order: stroke;
    pointer-events: auto;
}
.label:hover {
    stroke: #cfc;
}

.lang-en { fill: #05a; }
.node.lang-en { fill: #8ad; }
.lang-fr { fill: #76e; }
.node.lang-fr { fill: #bbf; }
.lang-de { fill: #222; }
.node.lang-de { fill: #999; }

.lang-es { fill: #da0; }
.node.lang-es { fill: #ed8; }
.lang-it { fill: #4d4; }
.node.lang-it { fill: #aea; }
.lang-ru { fill: #a50; }
.node.lang-ru { fill: #da8; }
.lang-pt { fill: #080; }
.node.lang-pt { fill: #8c8;}
.lang-ja { fill: #f77; }
.node.lang-ja { fill: #fbb; }
.lang-zh { fill: #900; }
.node.lang-zh { fill: #c88; }
.lang-nl { fill: #e70; }
.node.lang-nl { fill: #fb8; }