{% extends "_base.html" %}
{% block content %}
<h1>{{ node.name }}</h1>
<hr />
{% if normalized %}
<h2>Normalized form</h2>
<div class="concept-normalized">
    <a href="{{ normalized['url'] }}">{{ normalized['name'] }}</a>
</div>
{% endif %}

<h2>Assertions</h2>
<div class="container" id="#assertionContainer">
    {% for assertion in assertions %}
    <div class="concept-box" data-relation="{{ assertion['relation'] }}"
        data-score="{{ assertion['score'] }}"
        data-name="{{ assertion['target_text'] }}">
        {% if assertion['position'] == 1 %}
            <div class="concept-relation1">
                <span class="self">...</span>
                <span class="relation">{{ assertion['relation'] }}</span>
            </div>
            <div class="concept-name">{{ assertion['target_text'] }}</div>
        {% else %}
            <div class="concept-name">{{ assertion['target_text'] }}</div>
            <div class="concept-relation2">
                <span class="relation">{{ assertion['relation'] }}</span>
                <span class="self">...</span>
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<h2>Sentence frames</h2>
<ul>
  {% for frame in frames %}
    <li>
      {{ frame|safe }}
    </li>
  {% endfor %}
</ul>
{% endblock %}

{% block scripts %}
{% endblock %}
