{% extends "_base.html" %}
{% block content %}
Assertions:
<ul>
{% for assertion in assertions %}
<li>
<!--<a href="{{ assertion }}">{{ assertion }}</a>-->
{{ assertion[1].name }} -- {{ assertion[0].name }} -- 
{% for arg in assertion[2] %}
{{ arg.name }}
{% endfor %}
</li>
{% endfor %}
</ul>
<hr />
Frames:
<ul>
{% for frame in frames %}
<li>
{{ frame }}
</li>
{% endfor %}
</ul>
<hr />
Normalizations:
<ul>
{% for normalization in normalizations %}
<li>
{{ normalization[0] }} -- {{ normalization[1] }}
</li>
{% endfor %}
</ul>
{% endblock %}
