{% extends "_base.html" %}
{% block content %}
Assertions:
<ul>
{% for assertion in assertions %}
<li>
<a href="{{ url_for('get_data', uri=assertion[1].uri[1:]) }}">{{ assertion[1].name }}</a> -- <a href="{{ url_for('get_data', uri=assertion[0].uri[1:]) }}">{{ assertion[0].name }}</a> -- 
{% for arg in assertion[2] %}
<a href="{{ url_for('get_data', uri=arg.uri[1:]) }}">{{ arg.name }}</a>
{% endfor %}
</li>
{% endfor %}
</ul>
<hr />
Frames:
<ul>
{% for frame in frames %}
<li>
{{ frame }}
</li>
{% endfor %}
</ul>
<hr />
Normalizations:
<ul>
{% for normalization in normalizations %}
<li>
<a href="{{ url_for('get_data', uri=normalization[0].uri[1:]) }}">{{ normalization[0].name }}</a> -- <a href="{{ url_for('get_data', uri=normalization[1].uri[1:]) }}">{{ normalization[1].name }}</a>
</li>
{% endfor %}
</ul>
{% endblock %}
