{% extends "_base.html" %}
{% block content %}
{# all usual properties, plus 'linked' #}

<div class="container">
  {% for edge in edges %}
  <div class="assertion">
    <div class="assertion-edge">
      <span class="concept">
        <a href="{{root}}{{edge.start}}">{{edge.startName}}</a>
      </span>
      <span class="relation">
        <a href="{{root}}{{edge.rel}}">{{edge.relName}}</a>
      </span>
      <span class="concept">
        <a href="{{root}}{{edge.end}}">{{edge.endName}}</a>
      </span>
    </div>
    <div class="paraphrase">
      {{edge.linked|safe}}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
