<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pure-min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/conceptnet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/grids-responsive-min.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    <title>ConceptNet 5</title>
    {% endblock %}
</head>

<body>
<div id="main">
<div class="header">
    <div class="pure-g">
        <div class="pure-u-2-3">
            {% block headleft %}
            {% endblock %}
        </div>
        <div class="pure-u-1-3">
            <div class="pure-menu pure-menu-horizontal top-menu-h">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="https://github.com/commonsense/conceptnet5/wiki" class="pure-menu-link">Documentation</a></li>
                    <li class="pure-menu-item"><a href="https://github.com/commonsense/conceptnet5/wiki/FAQ" class="pure-menu-link">FAQ</a></li>
                    <li class="pure-menu-item"><a href="https://gitter.im/commonsense/conceptnet5" class="pure-menu-link">Chat</a></li>
                    <li class="pure-menu-item"><a href="https://blog.conceptnet.io" class="pure-menu-link">Blog</a></li>
                </ul>
            </div>
            <div class="pure-menu pure-menu-vertical top-menu-v">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="https://github.com/commonsense/conceptnet5/wiki" class="pure-menu-link">Documentation</a></li>
                    <li class="pure-menu-item"><a href="https://github.com/commonsense/conceptnet5/wiki/FAQ" class="pure-menu-link">FAQ</a></li>
                    <li class="pure-menu-item"><a href="https://gitter.im/commonsense/conceptnet5" class="pure-menu-link">Chat</a></li>
                    <li class="pure-menu-item"><a href="http://blog.conceptnet.io" class="pure-menu-link">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
<div class="footer">
    <div class="creative-commons">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
    </a>
    </div>
    ConceptNet 5 is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    If you use it in research, please cite <a href="https://arxiv.org/abs/1612.03975">this AAAI paper</a>.
    <br />
    See <a href="https://github.com/commonsense/conceptnet5/wiki/Copying-and-sharing-ConceptNet">Copying and Sharing ConceptNet</a> for more details.
</div>
</div>
</body>
</html>
