{% extends "_base.html" %}

{% from '_macros.html' import show_term, show_edge %}

{% block title %}
<title>ConceptNet 5: {{ error.status|error_name }}</title>
{% endblock %}

{% block headleft %}
    <h1 class="error">
        {{ error.status|error_name }}
    </h1>
    <h2 class="subtitle">
        {{ error.details }}
    </h2>
{% endblock headleft %}

{% block content %}
    <div class="doc">
        <p>Sorry about that.
        {% if g.sentry_event_id %}
            The problem has been reported to our bug-tracking system, with
            error ID {{ g.sentry_event_id }}.
        {% endif %}
        </p>
        <p>You could try going back to the <a href="/">main page</a> of
        ConceptNet.</p>
    </div>
{% endblock content %}
